body {
  background: linear-gradient(to bottom, #8fda9a 10%, #18d75b 100%);
  min-height: 100vh;
  margin: 0;
}

header {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.8),
    rgba(22, 158, 22, 0.8)
  );
  text-align: center;
  padding: 20px;
  border-bottom: 1px solid rgba(0, 100, 0, 0.3);
  box-shadow: 0 4px 8px rgba(0, 100, 0, 0.1);
}

header h1 {
  font-size: 3em;
  margin: 0;
  color: #333;
}

header a {
  color: #333;
  text-decoration: none;
  font-size: 1.5em;
}

header a:hover {
  color: #000;
  text-decoration: underline;
}

#toc-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 0;
  margin-top: 15vh;
  text-align: center;
}

li.grid-item {
  list-style-type: none;
  padding: 1em;
}

li.grid-item a {
  color: #fff;
  text-decoration: none;
  background-color: #1b653b;
  font-size: 4.5em;
  padding: 0.2em;
  border-radius: 0.2em;
  box-shadow: 0px 0.1em 0.2em rgba(0, 0, 0, 0.2);
  display: inline-block;
  transition: 0.3s ease;
}

li.grid-item a:hover {
  background-color: #0f3e27;
  transform: scale(1.1);
}

li.grid-item p {
  padding-top: 1.5em;
}
