body {
  font-family: Arial, sans-serif;
  background-color: #ffffff; /* White background */
  color: #ffffff; /* White text */
  text-align: left;
  margin: 0;
  padding: 20px;
}

h1 {
  color: #444;
  margin-bottom: 20px;
}

a {
  color: #0077cc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul ul {
  margin-top: 10px;
  text-align: left;
  margin-left: 40px;
}

input[type="checkbox"] {
  margin-right: 10px;
}

img {
  width: 200px;
  height: auto;
  margin: 20px 0;
}

figure {
  text-align: center;
}
